<h2>Order List</h2>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Order Date</th>
        <th scope="col">Customer</th>
        <th scope="col">Item Purchased</th>
        <th scope="col">Amount</th>
        <th scope="col">PPU</th>
        <th scope="col">Total</th>
        <th scope="col">Sales Rep</th>
        <th scope="col">Region</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row">{{order.orderDate}}</th>
        <td>{{order.customer}}</td>
        <td>{{order.item}}</td>
        <td>{{order.units}}</td>
        <td>{{order.unitCost | currency:'EUR'}}</td>
        <td>{{order.units * order.unitCost | currency:'EUR'}}</td>
        <td>{{order.rep}}</td>
        <td>{{order.region}}</td>
      </tr>
    </tbody>
  </table>
</div>